<%= form_for @profile, url: profile_path do |f| %>

  <%= resource_errors_top @profile %>

  <fieldset class="form-group">
    <h2>Edit Abilities</h2>

      <%= f.fields_for :user_internal_abilities do |ability| %>
        <%= render 'user_internal_ability_fields', f: ability %>
      <%- end %>
      <%= link_to_add_association f, :user_internal_abilities,
                                  class: 'btn-default btn-transparent', 
                                  'data-association-insertion-node' => '.abilities',
                                  'data-association-insertion-method' => 'append' do %>
        Add New Ability
      <%- end %>
  </fieldset>

  <%= f.submit 'Save', class: 'btn-default' %>
  <%= link_to 'Cancel', profile_path %>
<%- end %>
