<h1>Your Profile</h1>

<hr>

<%- if current_user.user_internal_abilities.present? %>
  <h3>Ability Scores</h3>

  <table class='table table-sm'>
    <thead>
    <tr>
      <th>Ability</th>
      <th>Description</th>
      <th>Score</th>
    </tr>
    </thead>

    <tbody>
    <%- current_user.user_internal_abilities.includes(:internal_ability).each do |ability| %>
      <tr>
        <th><%= ability.internal_ability.name %></th>
        <td><%= ability.internal_ability.description %></td>
        <td><%= "#{ ability.level } / 7" %></td>
      </tr>
    <%- end %>
    </tbody>
  </table>
<%- end %>

<%= link_to 'Set Abilities', edit_profile_path %>

<%- if current_user.user_internal_abilities.present? %>
|<%= link_to 'Occupation Recommendations', profile_occupations_path %>
<%- end %>

<%- if @test_results.present? %>
  <hr>
  <h3>Test Results</h3>
  <table class='table table-sm'>
    <thead>
      <tr>
        <th>Test Name</th>
        <th>Started At</th>
        <th>Completed At</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%- @test_results.each do |result| %>
        <tr>
          <th><%= result.test.name %></th>
          <td><%= result.started_at %></td>
          <td><%= result.completed_at %></td>
          <td><%= link_to 'View', profile_test_result_path(id: result.id) %></td>
        </tr>
      <%- end %>
    </tbody>
  </table>
<%- end %>
