<%= image_tag "static/home.png", style: ' margin-top: 140px; position: relative;left: 50%;transform: translateX(-50%);' %>

<h2>Ability Scores</h2>

<%- if current_user.user_internal_abilities.present? %>

  <%- current_user.user_internal_abilities.includes(:internal_ability).each do |ability| %>
    <div class="row ability">
      <div class="col-md-10">
        <h3><%= ability.internal_ability.name %></h3>
        <p class="descript"><%= ability.internal_ability.description %></p>
      </div>
      <div class="col-md-2">
        <div class="results-holder">
          <p class="result"><%= ability.level %></p>
          <p class="out-of">out of 7</p>
        </div>
      </div>
    </div>
  <%- end %>
<%- end %>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Edit Abilities', edit_profile_path, class: 'btn-default' %>
  </div>
</div>

<%- if @test_results.present? %>
 
  <h2>Latest Test Results</h2>

  <div class="row">
    <%- @test_results.each do |result| %>
      <div class="col-md-3 test-col results">
        <div>
          <%= link_to profile_test_result_path(id: result.id), class: 'test-image-wrapper overlay-fade-in' do %>

            <img src="<%= result.test.image_url %>" alt="Card image">

            <div class="image-overlay-content">
              <h3>View Results</h3>
            </div>

          <% end %>
          <h4><%= result.test.name %></h4>
          <p><%= result.completed_at.strftime('%e %B') %></p>
        </div>
      </div>
    <% end %>
  </div>
<%- end %>
