<%- if current_user.user_internal_abilities.present? %>
  <h2>Ability Scores</h2>

  <%- current_user.user_internal_abilities.includes(:internal_ability).each do |ability| %>
    <div class="row ability">
      <div class="col-md-10">
        <h3><%= ability.internal_ability.name %></h3>
        <p class="descript"><%= ability.internal_ability.description %></p>
      </div>
      <div class="col-md-2">
        <div class="results-holder">
          <p class="result"><%= ability.level %></p>
          <p class="out-of">out of 7</p>
        </div>
      </div>
    </div>
  <%- end %>
<%- end %>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Edit Abilities', edit_profile_path, class: 'btn-default' %>
  </div>
</div>

<h2>Test Results</h2>

<%- if @test_results.present? %>
  <hr>
  <h3>Test Results</h3>
  <table class='table table-sm'>
    <thead>
      <tr>
        <th>Test Name</th>
        <th>Started At</th>
        <th>Completed At</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%- @test_results.each do |result| %>
        <tr>
          <th><%= result.test.name %></th>
          <td><%= result.started_at %></td>
          <td><%= result.completed_at %></td>
          <td><%= link_to 'View', profile_test_result_path(id: result.id) %></td>
        </tr>
      <%- end %>
    </tbody>
  </table>
<%- end %>
