<%= form_for [:administration, test] do |f| %>


  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>

  <fieldset class="form-group">
    <h2>Test Variables</h2>

    <table class="table variables-table">
      <tbody class="variables">
        <tr>
          <td>Name</td>
        </tr>
        <%= f.fields_for :test_variables do |variable| %>
          <%= render 'test_variable_fields', f: variable %>
        <%- end %>
      </tbody>


      <tr class="links">
        <td></td>
        <td>
          <%= link_to_add_association f, :test_variables,
                                      'data-association-insertion-node' => '.variables',
                                      'data-association-insertion-method' => 'append' do %>
            Add Variable
          <%- end %>
        </td>
      </tr>

    </table>


  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
