<h2>Tests</h2>

<table class="table table-striped">

  <thead class="thead-default">
    <tr>
      <th>#</th>

      <th>Name</th>
      <th>Variables</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <th class="row"><%= test.id %></th>

        <td><%= link_to test.name, administration_test_path(test)  %></td>
        <td><%= test_variables_for(test) %></td>

        <td><%= link_to 'Destroy', administration_test_path(test), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test', new_administration_test_path %>
