<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Variables:</strong>
  <%= test_variables_for(@test) %>
</p>

<p>
  <strong>Time Limit:</strong>
  <%= time_limit_for(@test) %>
</p>

<%- if @test.randomized %>
  <p>
    <strong>Random question order.</strong>
  </p>
<%- end %>

<%= link_to 'Edit', edit_administration_test_path(@test) %>

<hr>

<h1>Questions</h1>

<table class="table table-striped">
  <thead class="thead-default">
  <tr>
    <th>Text</th>
    <th>Variable</th>
    <th>Number of Variants</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @test.questions.each do |question| %>
    <tr>
      <td><%= question.text %></td>
      <td><%= question.test_variable.name %></td>
      <td><%= question.question_responses.count %></td>
      <td><%= link_to 'Edit', edit_administration_test_question_path(@test, question) %></td>
      <td><%= link_to 'Destroy',  [:administration, @test, question] , method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_administration_test_question_path(@test) %>

<hr>

<%- if @test.questions.present? %>
  <h1>Results breakdown</h1>

  <table class="table table-striped">
    <thead class="thead-default">
    <tr>
      <th>Variable</th>
      <th>Maximum Value</th>
      <th>Complete?</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @test.test_variables.each do |variable| %>
      <tr>
        <th><%= variable.name %></th>
        <td><%= variable.max_value %></td>
        <td><%= variable.results_complete? %></td>
        <td><%= link_to 'Edit', edit_administration_test_test_variable_test_result_path(@test, variable)%></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <hr>
<%- end %>

<%= link_to 'Back', administration_tests_path %>

<%- if !@test.published && @test.ready_to_publish? %>
  <%= form_for [:administration, @test], url: { action: :publish } do |f| %>
    <div class="actions">
      <%= f.submit 'Publish' %>
    </div>
  <% end %>
<%- end %>
