<div class="login-logo"><img src="<%= asset_path 'login-logo.png' %>" alt="Career Navigator"></div>

<div class="login-container">

<%= flash_messages %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: "Email", :required => true %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password (6 characters minimum)", :required => true %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", :required => true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'sign-up-button' %>
  </div>
<% end %>
</div>

<div class="login-divider"></div>

<div class="login-container">
  <p class="form-bottom-link"><%= link_to "Back to log in", new_session_path(resource_name) %></p>
</div>
