<hr>
<h2><%= occupation.title %></h2>

<small class="text-muted">
  Distance score: <%= occupation.match_score %>
</small>

<p class="lead">
  <%= occupation.description %>
</p>

<table class="table-sm table-hover">
  <tr>
    <th></th>
    <th>Required Score</th>
    <th>Your Score</th>
  </tr>
  <%- occupation.occupation_abilities.includes(:internal_ability).each do |ability| %>
    <tr data-toggle="tooltip" data-placement="top" title="<%= ability.internal_ability.description %>">
      <th><%= ability.internal_ability.name %></th>
      <td><%= ability.data_value %></td>
      <td><%= current_user.user_internal_abilities.find_by(internal_ability_id: ability.internal_ability.id).try(:level) %></td>
    </tr>
  <%- end %>
</table>
