<tr data-toggle='tooltip' data-placement='right'
    title="<%= ability.internal_ability.description %>"
    class="<%= row_class %>" >

  <th><%= ability.internal_ability.name %></th>
  <td><%= ability.data_value %></td>
  <td><%= user_ability %></td>
  <td><%= ability_diff %></td>
</tr>
