<tr class="<%= row_class %>" >
  <td></td>
  <th data-toggle='tooltip' data-placement='top' title="<%= ability.internal_ability.description %>"><%= ability.internal_ability.name %></th>
  <td><%= ability.data_value %></td>
  <td><%= user_ability %></td>
  <td><%= ability_diff %></td>
  <td></td>
</tr>
