<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>TheNavigator.Careers</h1>

        <%= link_to 'Sign In', new_user_session_path, class: 'btn-default' %>
      </div>
    </div>
  </div>
</section>

<section class="whouse">
  <div class="container">
    <div class="row">
      <div class="col-md-4 block labor">
        <h3>Labor Ministries</h3>
        <p>For serious stakeholders interested in big data analytics of the labor market. Labor Ministries have access to a complete dataset across the system, including latest trends and insights on candidates, employers, recruitment agencies and training companies.</p>
      </div>
      <div class="col-md-4 block career">
        <h3>Сareer Seekers</h3>
        <p>For those looking for a new job, wishing to change career path or learn new skills. After setting up their profile Career Seekers use intelligent matching tools to identify the most suitable occupations, find job vacancies and manage their lifelong learning.</p>
      </div>
      <div class="col-md-4 block company">
        <h3>Company Recruiters</h3>
        <p>For users wishing to work with the TheNavigator.Ccareers on behalf of their company for posting new job vacancies and smart applicant screening. Company Recruiters use the largest database of job profiles featuring skills, abilities, job tasks and work styles.</p>
      </div>
      <div class="col-md-4 col-md-offset-2 block agency">
        <h3>Recruitment Agents</h3>
        <p>For the employees of the Recruitment Agencies and independent consultants who would like to manage active job openings on behalf of multiple client companies. Recruitment Agents have the same rights and can use all the tools available to Company Recruiters.</p>
      </div>
      <div class="col-md-4 block trainer">
        <h3>Trainers</h3>
        <p>For business trainers, coaches and training agencies looking to expand their practice. Trainers create and maintain catalogues of training courses that get recommended to candidates wishing to improve their chances of being hired for the job vacancies.</p>
      </div>
    </div>
  </div>
</section>


<section class="labor">
  <div class="container">
    <div class="row">
      <div class="bg-image"></div>
      <div class="col-md-8">
        <h2>Labor Ministries</h2>
        <p class="quote">TheNavigator.Careers is a place where statistics is taken to a new powerful and interactive level.</p>
        <p>Сomplete information about candidates, recruitment trends and training market is collected and provided in one place. Labor Ministries are offered  powerful monitoring tools able to generate up-to-date comprehensive statistical reports  The reports cover any areas of interest within the unemployment, recruitment and training market, including the fastest growing occupations, the biggest skill gaps, the most demanded training topics, the effect of training on candidate employability or candidate groups facing  the highest risk of long-term unemployment.</p>
        <%= link_to 'sign in as labor ministry', new_user_session_path, class: 'btn-default' %>
      </div>
    </div>
  </div>
</section>


<section class="career">
  <div class="container">
    <div class="row">
      <div class="bg-image"></div>
      <div class="col-md-8 col-md-offset-4">
        <h2>Career Seekers</h2>
        <p class="quote">TheNavigator.Careers is a unique platform that has taken job search to a new level by focusing on the needs of a job seeker.</p>
        <p>Candidates have a wide range of tools at hand from as simple as a search for an open vacancy to the most intelligent and smart career planning.TheNavigator.Careers offers a range of cognitive, personality and interest teststto help users identify the most suitable career paths or determine their fitness for a particular job role. Based on a comprehensive  analysis of their personality, intelligence and professional skills Candidates are provided with a detailed personalized feedback and recommendations on how to land their dream job, proceed with their career or improve their skills and abilities.  TheNavigator.Careers is a social platform that allows candidates to stay in touch with Recrutiers, Trainers, classmates and colleagues, thus becominga lifelong partner in the career life of every user.</p>
        <%= link_to 'sign in as career seeker', new_user_session_path, class: 'btn-default' %>
      </div>
    </div>
  </div>
</section>


<section class="agency">
  <div class="container">
    <div class="row">
      <div class="bg-image"></div>
      <div class="col-md-8">
        <h2>In-house and Agency<br/>Recruiters</h2>
        <p class="quote">TheNavigator.Careers is a powerful tool for screening job applicants and finding the most suitable candidates for all kinds of vacancies.</p>
        <p>The system has a very detailed, structured and user-friendly database of 1000+ job profiles that include information on relevant job tasks, skills, abilities, work styles, knowledge and education.This database is available for the recruiters to develop their own job postings selecting essential and desirable criteria and compare candidates, who had been previously tested, against them.The platform creates a professional environment where  Recruiters can directly communicate with the applicants, track interviews and provide feedback for the Job Postings.</p>
        <%= link_to 'sign in as company / recruitment agency', new_user_session_path, class: 'btn-default' %>
      </div>
    </div>
  </div>
</section>


<section class="training">
  <div class="container">
    <div class="row">
      <div class="bg-image"></div>
      <div class="col-md-8 col-md-offset-4">
        <h2>Trainers and Coaches</h2>
        <p class="quote">TheNavigator.Careers equipsTraining Agencies and Trainers with the tools to bring new learners to their courses.</p>
        <p>All users of TheNavigator.Careers are potenital trainees seeking to improve their skills, abilitites, earn new certificates, enrol in a higher degree programs, complete a college degree or earn an MBA/PhD. Trainers have an opportunity to provide the most current and detailed information about their Training Courses as well as the tools to directly communicate with each trainee, provide them with learning materials, monitor their progress and provide feedback. By linking training courses to the skills and abilities they are aiming to improve, Trainers are getting a constant pipeline of learners who are recommended to attend the courses as part of their career planning. </p>
        <%= link_to 'sign in as training agency', new_user_session_path, class: 'btn-default' %>
      </div>
    </div>
  </div>
</section>

