<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>TheNavigator.Careers</h1>

        <%= link_to 'Sign In', new_user_session_path, class: 'btn-default' %>
      </div>
    </div>
  </div>
</section>

<section class="whouse">
  <div class="container">
    <div class="row">
      <div class="col-md-4 block labor">
        <h3>Labor Ministry</h3>
        <p>The user who has the access to the statistics from the whole range of the system, from the candidates, companies, recruitment market and training market.</p>
      </div>
      <div class="col-md-4 block career">
        <h3>Career Seekers</h3>
        <p>It is the registered user who’s main goal is to find the new job, change the career path, learn new skills, etc.<br/><span>The user also can manage his Training Plane, Career Planning, Lifelong Learning, etc.</span></p>
      </div>
      <div class="col-md-4 block company">
        <h3>Company Recruiter</h3>
        <p>The user who is the employee of the company and is working with TheNavigator.career on behalf of his company when there is new vacancy to be opened and the screening is to be done for the most suitable applicants.<br/><span>Recruiter creates and maintains the Job Postings based on predefined system of Job Profiles, skills and abilities and can perform the screening for the most suitable candidates</span></p>
      </div>
      <div class="col-md-4 col-md-offset-2 block agency">
        <h3>Recruitment Agency</h3>
        <p>The user who is an employee of the Recruitment Agency and his main goal is to manage the open Job Positions on behalf of the client companies. This user has the same rights and tools as the company recruiter</p>
      </div>
      <div class="col-md-4 block trainer">
        <h3>Trainer</h3>
        <p>The user is an employee of the Training Agency. His main goal is to create and maintain the catalog of available Training Courses in his external learning system. The user will be able to search for the Training Courses and review the description as well as have access to the learning materials. For enrollment to the actual Training Course the Trainer will provide the access link.</p>
      </div>
    </div>
  </div>
</section>


<section class="labor">
  <div class="container">
    <div class="row">
      <div class="bg-image"></div>
      <div class="col-md-8">
        <h2>Labor Ministry</h2>
        <p class="quote">TheNavigator.career is a place where the statistics will be taken to the new powerful and interactive level.</p>
        <p>The information about the Job Seeker pool, state of the Recruitment and Training markets - all will be gathered and provided in one place. The reports will cover vast areas of the market. The goals is to provide the Administrators with the powerful monitoring tool that will be able to generate the up-to-date statistical information at any time door any of the areas of interest within the unemployment/recruitment/training market: what are the trends, where are the biggest gaps, who is at the most riks to stay unemployed over longer time period, etc.</p>
        <%= link_to 'sign in as labor ministry', new_user_session_path, class: 'btn-default' %>
      </div>
    </div>
  </div>
</section>


<section class="career">
  <div class="container">
    <div class="row">
      <div class="bg-image"></div>
      <div class="col-md-8 col-md-offset-4">
        <h2>Career Seekers</h2>
        <p class="quote">TheNavigator.career is unique platform that has taken the job search to new level by focusing on the needs of a person seeking the job. </p>
        <p>The Candidate has a wide range of tools in his hands to do something as simple as a search for an open vacancy to the most intelligent and smart career planning. TheNavigator.career went further in providing the Candidates with the analitical tools such as profiling and tests to help the users in identify the most suitable career paths or the fitness of the candidate to the fileld/job he is interested in. Based on the intelligent analysis the Candidates are provided with the recommendations on how to get their dream job, how to proceed with the career, how to improve their skill and abilities, how to avoid the risk to stay unemployed for long time. The Candidate is provided with the strong social tools that will allow him to stay in touch with Recrutiers, Trainers, classmates and any other users within the TheNavigator.career platform. The goal of TheNavigator.career is to be a lifelong partner in ife of each user.</p>
        <%= link_to 'sign in as career seeker', new_user_session_path, class: 'btn-default' %>
      </div>
    </div>
  </div>
</section>


<section class="agency">
  <div class="container">
    <div class="row">
      <div class="bg-image"></div>
      <div class="col-md-8">        
        <h2>Company / <br/>Recruitment Agency</h2>
        <p class="quote">TheNavigator.career is a powerful tool for searching the most suitable applicants for the open vacancies. </p>
        <p>It has very detailed, structured and understandable knowledge base of the Industries, Job Profiles, skills and abilities. The Job Posting that describes the vacancy has the best possible description of skills, abilities, tasks, etc. that allow the intelligent search for available candidates based on their profiles. The platform allows the direct communication with the applicants, tracking of the interviews, feedbacks for the Job Postings. It provides Recruiters with the professional environment where the search for suitable candidates is fast and easy. The time is saved considerably by streamlining and simplifying the recruiting process.</p>
        <%= link_to 'sign in as company / recruitment agency', new_user_session_path, class: 'btn-default' %>
      </div>
    </div>
  </div>
</section>


<section class="training">
  <div class="container">
    <div class="row">
      <div class="bg-image"></div>
      <div class="col-md-8 col-md-offset-4">        
        <h2>Company / <br/>Recruitment Agency</h2>
        <p class="quote">TheNavigator.career is a powerful tool for searching the most suitable applicants for the open vacancies. </p>
        <p>It has very detailed, structured and understandable knowledge base of the Industries, Job Profiles, skills and abilities. The Job Posting that describes the vacancy has the best possible description of skills, abilities, tasks, etc. that allow the intelligent search for available candidates based on their profiles. The platform allows the direct communication with the applicants, tracking of the interviews, feedbacks for the Job Postings. It provides Recruiters with the professional environment where the search for suitable candidates is fast and easy. The time is saved considerably by streamlining and simplifying the recruiting process.</p>
        <%= link_to 'sign in as training agency', new_user_session_path, class: 'btn-default' %>
      </div>
    </div>
  </div>
</section>

