<tr class="nested-fields">
  <td><%= f.number_field :range_start %></td>
  <td><%= f.number_field :range_stop %></td>
  <td><%= f.text_field :result_message %></td>
  <td><%= f.number_field :attribute_score %></td>

  <td><%= link_to_remove_association "remove variant", f %></td>
</tr>
