<div class="test-img">
  <%- if flow_service.current_question.image.present? %>
      <img src="<%= flow_service.current_question.image_url %>">
  <%- end %>
</div>

<div class="test-block">
  <div class="utility clearfix">
    <%- unless flow_service.on_question?(0) %>
      <div class = "btn-group btn-group-lg" >
        <%= link_to 'â† Back',
                    goto_question_test_test_flow_path(test, question_index:  flow_service.previous_question_index) ,
                    class: 'back-link'%>
      </div>
    <% end %>
    <div class="questions-number">Question 2 of 5</div>
    <div class="countdown">
      <%- if @flow_service.time_limit %>
        <%= countdown_to(@flow_service.time_limit) %>
      <%- end %>
    </div>
  </div>

  <h4>
    <%= flow_service.current_question.text %>
  </h4>


  <div class="variants">
    <%- flow_service.current_question.question_responses.each do |variant| %>

      <%= form_for :variant, url: set_response_test_test_flow_path(test), html: {  } do |f| %>
        <%= f.hidden_field :variant_id, value: variant.id %>
        <%= f.submit variant.text,
                     class: "btn btn-primary #{ 'btn-success' if variant.id == flow_service.current_response.question_response_id }" %>
      <%- end %>

    <%- end %>
  </div>
</div>
