<h1 class="card-title">
  <%= flow_service.current_question.text %>
</h1>

<%- unless flow_service.on_question?(0) %>
  <div class = "btn-group btn-group-lg" >
    <%= link_to 'Back',
                goto_question_test_test_flow_path(test, question_index:  flow_service.previous_question_index) ,
                class: 'btn  btn-secondary'%>
  </div>
<% end %>

<%- flow_service.current_question.question_responses.each do |variant| %>

  <%= form_for :variant, url: set_response_test_test_flow_path(test), html: { class: "btn-group btn-group-lg" } do |f| %>
    <%= f.hidden_field :variant_id, value: variant.id %>
    <%= f.submit variant.text,
                 class: "btn btn-primary #{ 'btn-success' if variant.id == flow_service.current_response.question_response_id }" %>
  <%- end %>

<%- end %>
