<div class="card card-block text-xs-center">

    <div class="btn-group" role="group" aria-label="First group">
      <%- @flow_service.ordered_question_ids.each_with_index do |question_id, index| %>

        <%- if @flow_service.on_question?(index) %>
          <button class="btn"><%= index + 1 %></button>
        <%- else %>
          <%= link_to (index + 1), goto_question_test_test_flow_path(@test, question_index: index) ,
                      class: "btn btn-secondary #{'btn-success' if question_id.in?(@flow_service.answered_question_ids)}" %>
        <%- end %>

      <%- end %>
    </div>

  <%- if @flow_service.time_limit %>
    <%= countdown_to(@flow_service.time_limit) %>
  <%- end %>

  <%- if @flow_service.current_question_id %>
    <%= render 'question_with_variants', { test: @test, flow_service: @flow_service } %>
  <%- else %>
    <%= render 'final_page', { test: @test, flow_service: @flow_service } %>
  <%- end %>

</div>





