<h2>Job Postings</h2>

<%= link_to 'Add New Job Posting', new_job_posting_path, class: 'btn-default btn-add-job-posting' %>

<br>

<% @job_postings.each do |posting| %>
  <div class="row job-posting">
    <%= link_to job_posting_path(posting), class: 'col-md-11 job-posting-link' do %>
      <h3>
          <%= posting.display_title %>
      </h3>
      <p class="descript"><%= posting.display_description %></p>
    <%- end %>
    <!-- 
      <div class="col-md-1">
        <%#- if current_user.id == posting.user_id %>
          <%#= link_to 'Edit', edit_job_posting_path(posting) %>
        <%#- end %>
      </div>
    -->
    <%= link_to ' ', job_posting_path(posting), method: :delete, data: { confirm: 'Are you sure?' }, class: 'col-md-1 job-posting-remove' %>
  </div>
<% end %>


