<p>
  <strong>Title:</strong>
  <%= @job_posting.display_title  %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job_posting.display_description  %>
</p>

<%- if @job_posting.internal_industry.present? %>
  <p>
    <strong>Industry:</strong>
    <%= @job_posting.internal_industry.industry_name  %>
  </p>
<%- end %>

<%- if @job_posting.tasks.present? %>
  <p>
    <strong>Tasks to Perform:</strong>
    <ul>
      <%- category_label = nil%>
      <%- @job_posting.onet_occupation.ordered_task_statements.each_with_index do |task, index| %>
        <%- if @job_posting.tasks[index] %>
          <%= content_tag('h4', category_label = task.frequency_description) unless task.frequency_description == category_label %>
          <li><%= task.task %></li>
        <%- end %>
      <%- end %>

    </ul>
  </p>
<%- end %>

<%- if @job_posting.abilities.present? %>
  <p>
    <strong>Abilities Required:</strong>
    <table class="table table-sm">
      <tr>
        <th>Ability</th>
        <th>Level</th>
      </tr>
      <%- @job_posting.onet_occupation.ordered_occupation_abilities.each_with_index do |ability, index| %>
        <%- if @job_posting.abilities[index] %>
          <tr data-toggle='tooltip' data-placement='right' title="<%= ability.internal_ability.description %>">
            <th><%= ability.internal_ability.name %></th>
            <td><%= ability.data_value %></td>
          </tr>
        <%- end %>
      <%- end %>
    </table>
  </p>
<%- end %>


<%= link_to 'Back', job_postings_path %>

<%- if current_user.id == @job_posting.user_id %>
  |
  <%= link_to 'Edit', edit_job_posting_path(@job_posting) %>
<%- end %>
