<div class="row">
   <%- @tests.each do |test| %>
    <div class="col-md-3 test-col">
      <div>
        <%= link_to test_path(test), class: 'test-image-wrapper overlay-fade-in' do %>

          <img src="<%= test.image_url %>" alt="Card image">

          <div class="image-overlay-content">
            <h3>Open test</h3>
          </div>

        <% end %>
        <h4><%= test.name %></h4>
        <p><%= test.questions.length %> questions</p>
      </div>
    </div>

  <%- end %>

  <%- {
      "Project management" => "static/static/1.png",
      "Communication Skills" => "static/static/2.png",
      "Mathematical Reasoning" => "static/static/3.png",
      "Deductive Reasoning" => "static/static/4.png",
      "Selective attention" => "static/static/5.png",
      "Problem sensitivity" => "static/static/6.png",
      "Visualisation" => "static/static/7.png",
      "Persuasion Skills" => "static/static/8.png",
      "Originality" => "static/static/9.png",
      "Memorization" => "static/static/10.png"
      }.each do |name, image| %>
    <div class="col-md-3 test-col">
      <div>
        <%= link_to '#', class: 'test-image-wrapper overlay-fade-in' do %>

            <%= image_tag image, alt: 'Card image', style: "width: 215px; height: 215px;"%>

            <div class="image-overlay-content">
              <h3>Open test</h3>
            </div>

        <% end %>
        <h4><%= name %></h4>
        <p><%= rand(10) + 4 %> questions</p>
      </div>
    </div>
  <%- end %>

</div>